[Desktop Entry]
Name=OOTFest
Exec=sh /home/tp/git/ootfest/soh.sh
Path=/home/tp/git/ootfest/
Icon=/home/tp/git/ootfest/sohIcon.png
comment=Ocarina of Time
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Game;
